[mysqld]
bind_address = 0.0.0.0
log_error = /var/log/mysql/error.log

innodb_buffer_pool_size = 1G
max_connections = 200

server_id = 2

### Enabling crash-safe slaves
master_info_repository = TABLE

###
relay_log = /var/log/mysql/mysql-slave-relay-bin

### Enabling crash-safe slaves
relay_log_info_repository = TABLE
relay_log_recovery = ON

replicate_wild_ignore_table = mysql.%
replicate_wild_ignore_table = information_schema.%
replicate_wild_ignore_table = performance_schema.%
replicate_wild_ignore_table = sys.%

### Whether to use compression of the slave/master protocol if both the slave and the master support it.
slave_compressed_protocol = 1

### Tells the slave server not to start the slave threads when the server starts. To start the threads later, use a START SLAVE statement.
skip_slave_start

### Prevent users to write data on slave database
read_only = 1
#super_read_only = 1
